.form_app {
    text-align: center;
    width: auto;

}

.datePicker {
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
